body {
    
    padding-top: 5rem;
  }
  #header div a img {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}
  aside{
    background-color: brown;
  }

  li{
    color: crimson;
  }
  
  #li1{
    background-color: darkgoldenrod;
  }

  .bigger{
    font-size: 1.5em;
    color: tomato;
  }

  .red{
    color: red;
  }

  
  
 